@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(to right, #ff512f, #f09819);

}

header {
    background-color: #252525;
    display: flex;
    width: 100%;
    height: 15%;
    position: fixed;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    margin-left: 20%;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    font-size: 22px;
    transition: 0.5s;
    color: #ff5f6d;
}

#grafico {
    padding: 200px 200px 100px;
    width: 70%;
    height: 70%;
}

#myChart {
    background-color: white;
}

footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    height: 230px;
    width: 100%;
}

#footer_title {
    padding-top: 1px;
}

#title {
    display: flex;
    justify-content: center;
}

.container_footer {
    display: flex;
    flex-direction: inline;
    justify-content: center;
}

.contatos {
    margin: 0px 7px 0 35px;
}

#logo_email {
    width: 46px;
    height: 31px;
}

#logo_whatsapp {
    width: 34px;
    height: 34px;
}

#logo_linkedin {
    width: 30px;
    height: 30px;
}

#container_copyright {
    display: flex;
    justify-content: center;
}

.copyright {
    width: 80%;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    margin-top: 35px;
}