@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(to right, #ff512f, #f09819);

}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    height: 15%;
    position: fixed;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    margin-left: 20%;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    font-size: 22px;
    transition: 0.5s;
    color: #ff5f6d;
}

.container_inicio{
    background-image: url("imgs/banner_oleolubrificante6.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.titulo_inicio{
   
    color: white;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: -5%;
}

.img_mensagem {
    width: 70%;
    height: 550px;
}

#container_produto{
    width: 100%;
    height: 100vh;
    margin: auto;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
  
}
.painel{
    background: #ececec;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(0, 0, 0, 0.64); 
    height: 85%;
    width: 25%;
    display: flex;
    justify-content: space-around;
    border-radius: 40px;
}

.img_cor{
    width: 100%;
    height: 40%;
    /* From https://css.glass */
background: rgba(255, 196, 113, 0.685);
border-radius: 18px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    display: flex;
    justify-content: center;
}
.img_cor img{
    width: 1000px;
}

#desc_sensor{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#desc_sensor span{
    font-weight: 800;
    font-size: 16px;
    width: 80%;
    margin-bottom: 25%;
}
#desc_contato{
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    align-items: center;
}

#desc_contato span{
    font-weight: 800;
    font-size: 16px;
    width: 80%;
    margin-bottom: 25%;
}
#desc_monitoramento{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#desc_monitoramento span{
    font-weight: 800;
    font-size: 16px;
    width: 80%;
    margin-bottom: 10%;
}



.painel h1{
    font-size:32px;
    margin: 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    height: 230px;
    width: 100%;
}

#footer_title {
    padding-top: 1px;
}

#title {
    display: flex;
    justify-content: center;
}

.container_footer {
    display: flex;
    flex-direction: inline;
    justify-content: center;
}

.contatos {
    margin: 0px 7px 0 35px;
}

#logo_email {
    width: 46px;
    height: 31px;
}

#logo_whatsapp {
    width: 34px;
    height: 34px;
}

#logo_linkedin {
    width: 30px;
    height: 30px;
}

#container_copyright {
    display: flex;
    justify-content: center;
}

.copyright {
    width: 80%;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    margin-top: 35px;
}


/*sobre nós*/


.container_sobre_nos{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center ;
    flex-direction: row;
    justify-content: space-evenly;
  
}

#container {
    display: flex;
    border: solid white 2px;
    flex-direction: column;
    border-radius: 15px;
    width: 50%;
    height: 60%;
   /* From https://css.glass */
    background: rgba(0, 0, 0, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(0, 0, 0, 0.64); 
    color: white;
    font-weight: 600;
    font-size: 16px;
}

#container h1 {
    padding-top: 5px;
    margin-left: 100px;
}

#container p {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: justify;
}

.imagem {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 40%;
    height: 50%;
    align-items: center;    
}

.imagem img{
    width: 54%;
}