@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #222831;

}

header {
    background-color: #393e46;
    display: flex;
    width: 100%;
    height: 15%;
    position: relative;
    z-index: 0;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    margin-left: 20%;
}

a {
    font-size: 18px;
    color: #eeeeee;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    font-size: 22px;
    transition: 0.8s;
    color: #ff5622;
}
#container_selecao{
    display: flex;
    justify-content: center;
}
#selecao {
   width: 300px;
   height: 200px;
   display: flex;
   flex-direction: column;
}

#adicionar_maq_nova{
    display: flex;
    width: 300px;
    height: 100px;

}


#formulario_maquina_nova {
  
  width: 300px;
  display: flex;
  justify-content: center;
    align-items: center;

}

select {
    width: 200px;
    height: 30px;
    font-size: 20px;
    
}


#ocultar {
    margin-top: 10%;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: #393e46;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.5s linear;
    position: fixed;
}



#add_icon{
    width: 100px;
    height: 100px;
    
}

#add_icon:hover{
cursor: pointer;
}

input{
    font-size: 20px;
}

#formulario_maquina_nova label {
    color: white;

    font-size: 20px;
    
}
#btn_enviar_cadastro{
    margin-bottom: 10px;
    border-radius: 40px;
    width: 150px;
    height: 30px;
}
#btn_enviar_cadastro:hover{
    cursor: pointer;
    background-color: #393e46;
    color: white;
    transition: 1s;
}
#niveis_alerta{
    display: flex;
    justify-content: center;
}
.alertas{
    color: white;
    width: 250px;
    height: 100px;
    margin-right: 50px;
    text-align: center;
    font-weight: bold;
}
.alertas.m_baixa{
    background-color: rgb(39, 9, 191);

}
.alertas.baixa{
    background-color: rgb(17, 157, 185);
}
.alertas.ideal{
    background-color: green;
}
.alertas.alta{
    background-color: rgb(215, 126, 9);
}
.alertas.m_alta{
    background-color: red;

}

.span_maquinas{
    color: white;
    font-size: 20px;
}
.container_graficos{
width: 100%;
height: 150vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#grafico {
    margin-top: 5%;
    width: 70%;
    height: 60%;
    margin-right: 5%;
}

#grafico2 {
    width: 70%;
    height: 60%;
    margin-right: 5%;
}

footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    height: 230px;
    width: 100%;
}

#footer_title {
    padding-top: 1px;
}

#title {
    display: flex;
    justify-content: center;
}

.container_footer {
    display: flex;
    flex-direction: inline;
    justify-content: center;
}

.contatos {
    margin: 0 7px 0 35px;
}

#logo_email {
    width: 46px;
    height: 31px;
}

#logo_whatsapp {
    width: 34px;
    height: 34px;
}

#logo_linkedin {
    width: 30px;
    height: 30px;
}

#container_copyright {
    display: flex;
    justify-content: center;
}

.copyright {
    width: 80%;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    margin-top: 35px;
}