@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #222831;
    /* background: radial-gradient(  #ff6f3c, #ff9a3c); */
}

header {
    background-color: #393e46;
    display: flex;
    width: 100%;
    height: 15%;
    position: fixed;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    margin-left: 20%;
}

a {
    font-size: 18px;
    color: #eeeeee;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
    color: #ff8c00;
}

#agora {
    background-color: #6c757d;
    padding: 12px;
    border-radius: 10px;
}

.container_inicio {
    background-image: url("../imgs/banner_oleolubrificante6.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}


.titulo_inicio {

    color: #eeeeee;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
}

.img_mensagem {
    width: 70%;
    height: 550px;
}


/* --------------------------------------------------------------PRODUTO-----------------------------------------------------------------*/

#container_produto {
    width: 100%;
    height: 110vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container_produto h2 {
    color: #eeeeee;
    font-size: 30px;
    font-weight: 800;
}

.painel {
    background: #ff8c00e7;
    border-radius: 5%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    height: 75%;
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 400;
    color: #eeeeee;
    /* box-shadow: rgb(0, 0, 0) 15px 0px 15px -15px inset, rgb(0,0,0) -15px 0px 15px -15px inset; */
    box-shadow: rgb(0, 0, 0) 0px 0px 15px 0px inset;
    border: 0.01px outset rgba(0, 0, 0, 0.822);
}



.img_cor {
    width: 100%;
    height: 40%;
    border-radius: 2%;
    /* From https://css.glass */
    background: #4c515c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    display: flex;
    justify-content: center;
    margin-top: 6.7%;
    box-shadow: rgb(0, 0, 0) 15px 0px 15px -15px inset, rgb(0,0,0) -15px 0px 15px -15px inset;
    border: 0.01px outset rgba(0, 0, 0, 0.822);
}

.img_cor img {
    width: 15%;
}

#desc_sensor {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#desc_sensor span {
    font-weight: 800;
    font-size: 18px;
    width: 80%;
    margin-bottom: 23%;
}

#desc_contato {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
    flex-direction: column;
    align-items: center;
}

#desc_contato span {
    font-weight: 800;
    font-size: 18px;
    width: 80%;
    margin-bottom: 25%;
}

#desc_monitoramento {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#desc_monitoramento span {
    font-weight: 800;
    font-size: 18px;
    width: 80%;
    margin-bottom: 30%;
}



.painel h1 {
    font-size: 32px;
    margin: 0 auto;
}



/* --------------------------------------------------------------fFOOTER-----------------------------------------------------------------*/


footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    height: 230px;
    width: 100%;
}

#footer_title {
    padding-top: 1px;
}

#title {
    display: flex;
    justify-content: center;
}

.container_footer {
    display: flex;
    flex-direction: inline;
    justify-content: center;
}

.container_footer a {
    display: flex;
    align-items: center;
}

.container_footer a:hover {
    font-size: 19.5px;
    transition: 0.8s;
    color: #ff8c00;
}

.contatos {
    margin: 0px 7px 0 35px;
}

#logo_email {
    width: 46px;
    height: 31px;
}

#logo_whatsapp {
    width: 34px;
    height: 34px;
}

#logo_linkedin {
    width: 30px;
    height: 30px;
}

#container_copyright {
    display: flex;
    justify-content: center;
}

.copyright {
    width: 80%;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    margin-top: 35px;
}


/* --------------------------------------------------------------SOBRE NÓS-----------------------------------------------------------------*/



.container_sobre_nos {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

}

.container_sobre_nos h1 {
    color: white;
    font-size: 38px;
    font-weight: 800;
    border-bottom: 2px solid white;
    width: 30%;
}

#container {
    display: flex;
    border: solid white 2px;
    flex-direction: column;
    border-radius: 15px;
    width: 50%;
    height: 60%;
    /* From https://css.glass */
    background: #ff8c00e7;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(0, 0, 0, 0.64);
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-shadow: rgb(0, 0, 0) 15px 0px 15px -15px inset, rgb(0,0,0) -15px 0px 15px -15px inset;
    border: 0.01px outset rgba(0, 0, 0, 0.822);
}

#container h1 {
    padding-top: 5px;
    margin-left: 100px;
}

#container p {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: justify;
}

.imagem {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 40%;
    height: 50%;
    align-items: center;
  
}

.imagem img {
    width: 54%;
  
}

/*------------------------------------------------------------Parte Colaboradores--------------------------------------------------------*/
.titulo_colaboradores {
    display: flex;
    justify-content: center;
    width: 100%;

}

.titulo_colaboradores h1 {
    color: white;
    font-size: 38px;
    font-weight: 800;
    border-bottom: 2px solid white;
}

.container_colaboradores {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: radial-gradient(circle at -8.9% 51.2%, #ff8c00 0%, #ff8c00 15.9%, #ff8c00 15.9%, #ff8c00 24.4%, #222831 24.5%, #222831 66%);

}

.imagem1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foto {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 65%;
    border-radius: 50%;
   
}

.foto img {
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 15px 0px 15px -15px inset, rgb(0,0,0) -15px 0px 15px -15px inset;
    border: 1px outset rgba(0, 0, 0, 0.822);
}

.quadro {
    height: 60%;
    width: auto;
}

.imagem2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem1 p {
    text-align: center;
    color: white;
}

.imagem2 p {
    text-align: center;
    color: white;
}

/*-----------------------------------------------Comentarios--------------------------------------------*/

.container_comentarios {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titulo_comentario{
    display: flex;
    align-self: flex-start;
    margin-top: 5%;
    color: #eeeeee;
    flex-direction: column;
    align-items: center;
}

.titulo_comentario img{
    width: 54%;
}

.box_coment {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.box_coment textarea {
    width: 80%;
    height: 80%;
    font-size: 22px;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #222831;
    background: #eeeeee;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(0, 0, 0, 0.64);
    padding-left: 1%;
    padding-top: 1%;
}

.box_coment textarea::placeholder {
    color: #000;
}

.box_coment button {
    background-color: #dbd6c9;
    color: black;
    font-size: 16px;
    height: 35px;
    width: 210px;
    border-radius: 8px;
    border: none;
    margin-top: 5%;
    transition: 0.5s;
    cursor: pointer;

}

.box_coment button:hover {
    background-color: #f8eaea57;
    color: black;
    transition: 0.3s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}